@media screen and (max-width: 1440px) {
    html {
        font-size: 72.5%
    }

    .hero-container {
        gap: 10px;
    }

    .product-gallery,
    .heroContent {
        width: 48%;
    }

    .main-image-wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .main-image {
        height: 100%;
    }

    .apps-slider {
        width: 100%;
        grid-auto-columns: calc(33.33% - 20px);
    }

    .app-card {
        width: 100%;
        height: 360px;
    }

    .testimonial-slider {
        padding: 0 24px;
    }
}